code {
    background-color: #ddd;
}

.codehilite {
    background-color: #fff; border: 4px solid #eee; border-radius: 4px; margin: 20px 0;
}
    .codehilite pre {
        border: 1px solid #ccc; overflow-x: auto; margin: 0; padding: 15px 15px;
    }
