ul {
    list-style-type: none; padding-left: 0;
}

h2 {
    color: #003153; font-size: 27px; margin-bottom: 20px;
}

h3 {
    color: #003153; font-size: 23px; margin: 30px 0;
}

h4 {
    border-bottom: 1px #ddd solid; color: #2a5e82; font-size: 20px; margin: 30px 0;
}

code {
    background-color: #ddd; font-family: Consolas, Monaco, 'Andale Mono', monospace, serif;
}

.codehilite {
    margin: 30px 0;
}
    .codehilite pre {
        border-radius: 3px;
            background-color: #F8F8F8; border: 1px solid #CCCCCC; overflow-x: auto; margin: 0; padding: 15px 15px;
    }
