body {
    color: #434343; font: normal 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    color: #003153; text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

h2 {
    color: #003153; font-size: 25px; margin-bottom: 10px;
}

p {
    line-height: 23px;
}

blockquote {
    background-color: #eaf7ff; border-color: #d1e3ef; border-radius: 10px; border-style: solid;
    border-width: 1px 1px 1px 5px; margin: 20px 23px 0 23px;
}
    article .body blockquote p {
        color: #003153; margin-top: 0; padding: 10px 15px;
    }

code {
    font-family: Consolas, Monaco, 'Andale Mono', monospace, serif; line-height: 1.5em;
}

pre {
    background-color: #eaf7ff; border: 1px solid #d1e3ef; border-radius: 10px; color: #003153; margin-top: 20px;
    overflow-x: auto; padding: 10px 20px;
}
    pre code {
        font-size: 15px;
    }

.container {
    margin: 0 auto; width: 600px;
}

header#main {
    background-color: #fff; border-bottom: 6px solid #003153; display: block; padding: 17px 0 12px 0; text-align: center;
}

.content {
    border-top: 30px solid #dff2ff; min-height: 500px; padding: 60px 0 0 0;
}

article {
    margin-bottom: 60px;
}
    article header {
        text-align: center;
    }
        article header time,
        .list-archive li time {
            color: #666;
        }
    article header.float {
        background: none repeat scroll 0 0 #fff; margin: 0 -8px; overflow: hidden;
        padding: 0 8px 16px 8px; position: fixed; top: 0; width: 600px; z-index: 999;
    }
    article .body {

    }
        .body h3 {
            color: #003153; font-size: 21px; margin: 20px 0;
        }
        .body h4 {
            border-bottom: 1px #ddd solid; color: #2a5e82; font-size: 18px; margin: 20px 0;
        }
        .body p {
            color: #333; font-size: 16px; line-height: 1.5em; margin-top: 25px;
        }
        .body p a {
            font-weight: bold;
        }
        .body ul {
            display: block; list-style: inside square; margin: 20px 0 0 25px;
        }
            .body ul li {
                margin-bottom: 10px;
            }
    article .body-padding {
        padding-top: 64px;
    }
    .content article .share {
        margin-top: 25px;
    }

.content .list-archive {
    margin: 20px 0 60px 0;
}
    .list-archive li {
        font-size: 14px; padding: 10px 0;
    }
        .list-archive li a {
            font-size: 18px; margin-right: 5px;
        }

.bottom {
    background-color: #dff2ff; border-bottom: 5px solid #003153; color: #666; padding: 30px 0;
}
    .about {
        width: 350px;
    }
        .about h3 {
            color: #003153; font-size: 20px; text-shadow: 1px 1px 0 #fff;
        }
        .about p {
            color: #222; margin: 10px 0 0 0; text-shadow: 1px 1px 0 #fff;
        }
        .about a {
            font-weight: bold;
        }
    .github-badge {
        float: right; padding-top: 37px;
    }

footer {
    padding: 15px 0;
}
    footer nav ul {
        float: right;
    }
    footer nav ul li {
        float: left; padding-left: 25px;
    }
    footer nav ul li a {
        color: #666;
    }
