{% extends "base.html" %}
{% load markup %}

{% block title %}Archive{% endblock %}

{% block content %}

<h2>Archive</h2>
{% if archive_list %}
    <ul id="list-archive">
        {% for blog in archive_list %}
        <li>
            <p>
                <a href="/{{ blog.slug }}" title="{{ blog.title }}">{{ blog.title }}</a>
                <span class="date" title="{{ blog.pub_date }}">({{ blog.pub_date|timesince }} ago)</span>
            </p>
            {% if blog.archive %}
            <p class="archive"><span title="from my old blog">archive</span></p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock content %}