{% extends "base.html" %}
{% load markup %}

{% block title %}Archive{% endblock %}

{% block content %}

<h2>Archive</h2>
{% if archive_list %}
    <ul class="list-archive">
        {% for blog in archive_list %}
        <li>
            <p>
                <a href="/{{ blog.slug }}/" title="{{ blog.title }}">{{ blog.title }}</a>
                <time datetime="{{ blog.pub_date|date:'c' }}" pubdate>({{ blog.pub_date|timesince }} ago)</time>
            </p>
        </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock content %}
