{% extends "base.html" %}
{% load markup %}

{% block title %}Archive{% endblock %}

{% block content %}

<h2>Archive</h2>
{% if archive_list %}
    <ul class="list-archive">
        {% for blog in archive_list %}
        <li>
            <p>
                <a href="/{{ blog.slug }}/" title="{{ blog.title }}">{{ blog.title }}</a>
                <span class="date" title="{{ blog.pub_date }}">({{ blog.pub_date|timesince }} ago)</span>
            </p>
        </li>
        {% endfor %}
    </ul>
{% endif %}

<h2>Posts from my old blog</h2>
{% if archive_old_list %}
    <ul class="list-archive">
        {% for blog in archive_old_list %}
        <li>
            <p>
                <a href="/{{ blog.slug }}/" title="{{ blog.title }}">{{ blog.title }}</a>
                <span class="date" title="{{ blog.pub_date }}">({{ blog.pub_date|timesince }} ago)</span>
            </p>
        </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock content %}