{% extends "base.html" %}
{% load markup %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}

<article>
    <header>
        <h2>{{ blog.title }}</h2>
        <time datetime="{{ blog.pub_date|date:'c' }}" pubdate>Posted {{ blog.pub_date|timesince }} ago</time>
    </header>

    <div class="body">
        {{ blog.body|markdown }}
    </div>

    <div class="share">
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-text="{{ blog.title }}" data-via="berkerpeksag">Tweet</a>
    </div>
</article>

<script>
    (function () {
        "use strict";
        var titleElm = document.querySelectorAll('article>div.info')[0];
        if (!titleElm)
            return;

        var limit = titleElm.offsetTop;
        var titleCls = titleElm.classList;
        window.onscroll = function (evt) { 
            if (limit < document.documentElement.scrollTop)
                titleCls.add('float');
            else
                titleCls.remove('float');
        };
    })();
</script>

{% endblock content %}
