{% extends "base.html" %}
{% load markup %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}

<article>
    <header>
        <h2>{{ blog.title }}</h2>
        <time datetime="{{ blog.pub_date|date:'c' }}" pubdate>Posted {{ blog.pub_date|timesince }} ago</time>
    </header>

    <div class="body">
        {{ blog.body|markdown }}
    </div>

    <div class="share">
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-text="{{ blog.title }}" data-via="berkerpeksag">Tweet</a>
    </div>
</article>

<script>
    (function () {
        'use strict';
        var titleElm = document.querySelector('article > header');
        var bodyElm = document.querySelector('article > .body');
        if (!titleElm || !bodyElm)
            return;

        var limit = titleElm.offsetTop;
        var titleCls = titleElm.classList;
        var bodyCls = bodyElm.classList;
        window.onscroll = function (evt) {
            var scrollTop = Math.max(document.body.scrollTop,
                    document.documentElement.scrollTop);
            if (limit < scrollTop) {
                titleCls.add('float');
                bodyCls.add('body-padding');
            }
            else {
                titleCls.remove('float');
                bodyCls.remove('body-padding');
            }
        };
    })();
</script>

{% endblock content %}

{% block script %}
<script src="//platform.twitter.com/widgets.js"></script>
{% endblock script %}
