{% extends "base.html" %}
{% load markup %}
{% load filters %}

{% block content %}

<div class="container">
{% if blogs %}
    {% for blog in blogs %}
    <article>
        <header>
            <h2><a href="/{{ blog.slug }}/" title="{{ blog.title }}">{{ blog.title }}</a></h2>
            <time datetime="{{ blog.pub_date|date:'c' }}" pubdate>Posted {{ blog.pub_date|timesince }} ago</time>
        </header>
        <div class="body">
            {{ blog.body|splitfirst|markdown }}
        </div>
    </article>
    {% endfor %}
{% endif %}
</div>

{% endblock content %}

{% block script %}
<script src="//platform.twitter.com/widgets.js"></script>
{% endblock script %}
