{% extends "base.html" %}
{% load markup %}
{% load filters %}

{% block content %}

{% if latest_blog %}
<div id="splash">
    <div class="container">
        {% for blog in latest_blog %}
        <article>
            <header>
                <h2 title="{{ blog.title }}">{{ blog.title }}</h2>
                <time datetime="{{ blog.pub_date|date:'c' }}" pubdate>Posted {{ blog.pub_date|timesince }} ago</time>
            </header>
            <div class="body">
                {{ blog.body|markdown }}
            </div>
            <div class="share">
                <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal"
                   data-text="{{ blog.title }}" data-url="http://berkerpeksag.com/{{ blog.slug }}/"
                   data-via="berkerpeksag">Tweet</a>
            </div>
        </article>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="container">
{% if latest_blog_list %}
    {% for blog in latest_blog_list %}
    <article>
        <header>
            <h2><a href="/{{ blog.slug }}/" title="{{ blog.title }}">{{ blog.title }}</a></h2>
            <time datetime="{{ blog.pub_date|date:'c' }}" pubdate>Posted {{ blog.pub_date|timesince }} ago</time>
        </header>
        <div class="body">
            {{ blog.body|splitfirst|markdown }}
        </div>
    </article>
    {% endfor %}
{% endif %}
</div>

{% endblock content %}

{% block script %}
<script src="//platform.twitter.com/widgets.js"></script>
{% endblock script %}
