body {
    background-color: #dff2ff; color: #434343; font: normal 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

article, footer, h1, h2, h3, h4, h5, h6, header, nav, ul, p {
    display: block; margin: 0;
}

a {
    color: #003153; font-weight: bold; text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

p {
    line-height: 23px;
}

.container {
    margin: 0 auto; width: 600px;
}

header#main {
    background-color: #fff; border-bottom: 6px solid #003153; padding: 20px 0 10px 0;
}

section#title {
    border-bottom: 3px solid #d1e3ef; padding: 20px 0;
}
    section#title p {
        color: #444; font-size: 21px; text-shadow: 1px 1px 0 #fff;
    }

.content {
    background-color: #fff; padding: 40px 0 0 0;
}

article {
    padding: 0 30px 50px 30px;
}
    article header {
        text-align: center;
    }
        article header time,
        .list-archive li time {
            color: #666;
        }
    article > .body {

    }
        .body > p {
            color: #333; line-height: 1.5em; margin-top: 25px;
        }
        .body > ul {
            display: block; line-height: 1.5em; list-style: inside square; margin: 20px 0 0 25px;
        }
            .body > ul > li {
                color: #333; margin-bottom: 20px;
            }
    article .body-padding {
        padding-top: 64px;
    }
    article .share {
        margin-top: 50px;
    }

.bottom {
    background-color: #EFF9FF; border-bottom: 5px solid #003153; padding: 30px 30px 50px 30px; w\idth: 540px;
}
    .about {
        width: 300px;
    }
        .about h3 {
            color: #003153; font-size: 22px; margin: 0; text-shadow: 1px 1px 0 #fff;
        }
        .about p {
            color: #222; line-height: 1.5em; margin-top: 20px; text-shadow: 1px 1px 0 #fff;
        }
    .github-badge {
        float: right; padding-top: 50px;
    }

.footer {
    display: block; height: 75px; padding: 20px 30px 0 30px; w\idth: 540px;
}
    .footer > nav > ul li {
        float: left; padding-right: 25px;
    }
        .footer > nav > ul li a {
            color: #666; font-weight: normal;
        }
