{% load compressed %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>{% block title %}Berker Peksag{% endblock %}</title>
    {% compressed_css "base" %}
    <link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAp0lEQVR4nO3XIQ4CMRCF4b/siEkICQmch0tgsZxiL4LHcAQsd0GQYFYgKiYU0S7bC+zWTM0kr+J9bVWDfS3RaHWhC6tW5eNygAMc4AAHOMABDnCAAxwgwyc2K99t1sjldm8G6M9Hwv5wSojmxBa4jarr/bgGGZ6vHC5RXiNKn6AKus2BxWlzzglg1AAtQdmce4pCHG8AptNbSWadCsT/E4SUmv3OAfgBvBZQo9Pdx/gAAAAASUVORK5CYII=">
    {% if not debug_mode %}
    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-3531951-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'),
                protocol = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = protocol + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% endif %}
</head>
<body>
    <header id="main">
        <div class="container">
            <h1><a href="/" title="Homepage">Berker Peksag</a></h1>
        </div>
    </header>

    <div class="content container">
        {% block content %}{% endblock %}
    </div>

    <div class="bottom">
        <div class="container">
            <div class="github-badge">
                <iframe src="http://githubbadge.appspot.com/badge/berkerpeksag?s=1"
                        style="border: 0; height: 150px; width: 200px; overflow: hidden;"></iframe>
            </div>
            <div class="about">
                <h3>About me</h3>
                <p>
                    I'm a passionate <a href="https://github.com/berkerpeksag">open source</a>
                    software developer and <a href="http://mozillians.org/berkerpeksag">Mozillian</a> from
                    Istanbul, Turkey.
                </p>
                <p>
                    <a href="https://twitter.com/berkerpeksag/"
                       title="@berkerpeksag on Twitter">Follow me on Twitter</a> and
                    <a href="https://github.com/berkerpeksag/" title="berkerpeksag's Profile">fork me on GitHub</a>!
                </p>
            </div>
        </div>
    </div>

    <footer class="container">
        <nav>
            <ul>
                <li><a href="/archive/" title="Archive">Archive</a></li>
                <li><a href="/feed/" title="Feed">Feed</a></li>
                <li><a href="https://github.com/berkerpeksag/berkerpeksag/" title="Source code">Source code</a></li>
            </ul>
        </nav>
        <p>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img
                    alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png"></a>
        </p>
    </footer>

    {% block script %}{% endblock %}
</body>
</html>
